# Executive Brief

{% for item in summaries[:5] %}
## {{ item.title or item.document_id }}
{{ item.summary }}
{% if item.risks %}
- 리스크: {{ item.risks[0].title }}
{% endif %}
{% if item.actions %}
- 다음 액션: {{ item.actions[0].action }}{% if item.actions[0].due %} / 기한: {{ item.actions[0].due }}{% endif %}
{% endif %}
{% endfor %}

{% if all_actions %}
## Immediate Actions
{% for action in all_actions[:5] %}
- {{ action.action }}{% if action.owner %} / {{ action.owner }}{% endif %}
{% endfor %}
{% endif %}
